html, body {
    height: 100%;
    font-family: "Tahoma", "Geneva", sans-serif;
    color: #00FF00;
    background: #000000;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 200%;
    text-align: center;
}
